.pull-right{ :style => "margin-top: 22px;" }= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-plus'></span> New Transaction</button>".html_safe, new_transaction_path, html = {:title => "New"}

%h1= link_to "Listing transactions", :companies

= render 'list', { :show_header => true, :include_name => true }

%br

%div{ :style=> "margin-bottom: 30px;" }= link_to "<button type='button' class='btn btn-default btn-xs'><span class='glyphicon glyphicon-plus'></span> New Transaction</button>".html_safe, new_transaction_path, html = {:title => "New"}
